body{
    background:radial-gradient(#6c6c6c, #181818);
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    -webkit-user-select:none;
    user-select:none;
}
:root{
    --font-1: 'Megrim', cursive;
    --font-2: 'Tenor Sans', sans-serif;
    --font-3: 'Candal', sans-serif;
}
a{
    display:inline-block;
    text-decoration:none;
    text-align:center;
    color:white;
}
#main{
    width:100%;
    height:100vh;
    position:relative;
    font-size:2rem;
    font-family:var(--font-2);
    color:#222;
    overflow:hidden;
}
.container{
    width:1080px;
    height:auto;
    position:relative;
    margin:0 auto;
}
.title{
    display:inline-block;
    font-family:var(--font-1);
    font-size:8rem;
    line-height:7rem;
    margin-left:20px;
    font-weight:lighter;
    color:white;
}
.slug{
    display:block;
    color:white;
    padding-left:30px;
    line-height:1.8rem;
}
.main-content{
    width:1020px;
    height:540px;
    position:relative;
    margin:30px;
    padding:10px;
    background:#444;
    box-shadow:0 0 0 10px #fff inset;
}
.main-content:after{
    content:'';
    position:absolute;
    width:calc(100% - 20px);
    height:40px;
    background:black;
    left:10px;
    bottom:-20px;
    border-radius:50%;
    filter:blur(15px);
    opacity:.6;
    z-index:-1;
}
.banner{
    width:1000px;
    height:520px;
    position:absolute;
    overflow:hidden;
}
.img-princ{
    position:absolute;
    width:1000px;
    height:520px;
}
.nav{
    position:relative;
    width:100%;
    height:100%;
    display:flex;
    flex-wrap:wrap;
}
.btn{
    display:flex;
    justify-content:center;
    align-items:center;
    width:calc(50% - 2px);
    height:calc(50% - 2px);
    margin:1px;
    text-transform:uppercase;
    font-size:5rem;
    font-family:var(--font-1);
    background:rgba(0,0,0,.2);
}
.btn span{
    opacity:0;
}
.btn:hover{
    background:rgba(0,0,0,.7);
}
.btn:hover span{
    opacity:1;
}
.pages{
    width:1000px;
    height:520px;
    background:#222;
    position:relative;
    overflow:hidden;
    opacity:0;
    visibility:hidden;
    z-index:100;
    transition:all .4s;
}
.home, .about, .music, .friends{
    position:absolute;
    width:100%;
    height:100%;
    padding:9px;
    background:radial-gradient(circle at left top, #eee, #b8b8b8);
    border:solid 1px #b9b9b9;
    opacity:0;
    visibility:hidden;
    top:0;
    left:0;
    transition:all .5s;
}
.btn-close{
    position:absolute;
    width:200px;
    height:40px;
    top:10px;
    right:10px;
    display:flex;
    color:#222;
    z-index:1000;
}
.txt{
    width:160px;
    line-height:40px;
    font-size:1.5rem;
    text-align:right;
    padding-right:100px;
    opacity:0;
    transition:all .3s;
}
.case-icon{
    width:40px;
    height:40px;
    background:#eee;
    border-radius:4px;
    box-shadow:0 0 5px rgba(0,0,0,.4) inset;
}
.icon{
    display:table;
    width:40px;
    line-height:40px;
    height:40px;
    text-align:center;
    font-size:1.4rem;
    border-radius:50%;
    transition:all .3s;
}
.btn-close:hover .txt{
    opacity:1;
    padding-right:10px;
}
.btn-close:hover .icon{
    transform:rotate(360deg);
}
.lado-a{
    width:500px;
    height:500px;
    float:left;
    overflow:hidden;
}
.lado-a img{
    width:100%;
    height:100%;
}
.lado-b{
    width:480px;
    height:500px;
    float:left;
    padding-left:10px;
    position:relative;
}
.lado-b h1{
    text-transform:uppercase;
}
.welcome{
    color:#d90000;
    font-family:var(--font-3);
}
.desc{
    font-size:1rem;
    text-align:justify;
    margin-top:30px;
}
.sociais{
    width:160px;
    height:40px;
    position:absolute;
    bottom:0;
    right:0;
    display:flex;
    justify-content:space-between;
}
.btn-sociais{
    width:40px;
    height:40px;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#222;
    border-radius:4px;
}

#content-4:target .pages{
    opacity:1;
    visibility:visible;
    z-index:100;
}
#content-4:target .home{
    opacity:1;
    visibility:visible;
    z-index:1000;
    transition-delay:.4s;
}
#content-3:target .pages{
    opacity:1;
    visibility:visible;
    z-index:100;
}
#content-3:target .about{
    opacity:1;
    visibility:visible;
    z-index:1000;
    transition-delay:.4s;
}
#content-2:target .pages{
    opacity:1;
    visibility:visible;
    z-index:100;
}
#content-2:target .music{
    opacity:1;
    visibility:visible;
    z-index:1000;
    transition-delay:.4s;
}
#content-1:target .pages{
    opacity:1;
    visibility:visible;
    z-index:100;
}
#content-1:target .friends{
    opacity:1;
    visibility:visible;
    z-index:1000;
    transition-delay:.4s;
}

.t-about{
    display:block;
    line-height:50px;
}
.title-artist{
    font-size:2rem;
    margin-top:30px;
}
.title-song{
    color:#d90000;
}
.video{
    width:470px;
    height:266px;
    margin-top:50px;
    box-shadow:0 5px 0 1px black, 0 -35px 0 1px black, 0 20px 20px -12px rgba(0,0,0,0.5);
}
.bloco{
    width:100%;
    height:400px;
    margin-top:20px;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}
.box{
    width:150px;
    height:150px;
    background:#222;
    padding:5px;
    position:relative;
    margin-top:20px;
}
.photo{
    position:absolute;
    width:140px;
    height:140px;
}
.inner-box{
    position:relative;
    width:140px;
    height:140px;
    box-shadow:0 0 rgba(0,0,0,.7) inset, 0 0 rgba(0,0,0,.7) inset;
    text-align:center;
    overflow:hidden;
    transition:all .3s;
}
.inner-box span{
    color:white;
    display:inline-block;
    text-align:center;
    margin-top:30px;
    font-size:1.5rem;
    width:100%;
    opacity:0;
    padding:0 5px;
    transition:all .3s;
}
.inner-box a{
    width:34px;
    height:34px;
    line-height:36px;
    background:white;
    border-radius:50%;
    color:#222;
    font-size:1rem;
    box-shadow:0 0 0 5px rgba(255,255,255,.3);
    margin-top:100px;
    transition:all .3s;
}
.inner-box:hover{
    box-shadow:70px 0 rgba(0,0,0,.7) inset, -70px 0 rgba(0,0,0,.7) inset;
}
.inner-box:hover span{
    opacity:1;
    transition-delay:.3s;
}
.inner-box:hover a{
    margin-top:10px;
    transition-delay:.6s;
}